// RESET
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    color-scheme: light dark; // allows both
}

img {
    max-width: 100%;
    display: block;
}


body {
    margin: 0;
    display: grid;
    grid-template-rows: 3rem 1fr 3rem;
}

main {
    display: grid;
    grid-template-columns: 2rem 1fr 2rem;

    &>* {
        grid-column-start: 2;
    }
}

header,
footer {
    background-color: gray;
}
// END RESET


// LAYOUTS
.apple-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
}

.apple {
    background-color: #f1f1f1;
    text-align: center;
    padding-top: 3rem;

    p {
        margin-bottom: .5rem;
    }

    & .cta {
        display: flex;
        justify-content: center;
        gap: 2rem;
        margin-bottom: .5rem;
    }

    // img {
    //     max-width: 300px;
    // }
    // .img-right {
    //     margin-left: auto;
    // }
}


.microsoft {
    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    // color: white;
    background-image: url('https://placehold.co/800x600');
    background-size: cover;
    min-height: 400px;
    align-items: center;

    & .content {
        display: flex;
        flex-direction: column;
        // background-color: darkslategrey;
        // padding: 3rem;
    }

    img {
        position: absolute;
        z-index: 0;
    }
}



.github {
    .row-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;
        padding: 3rem 0;
    }

    .content {
        display: flex;
        flex-direction: column;
    }

    .img-secondary {
        max-width: 300px;
        position: absolute;
        right: 0;
    }

    .img-tall {
        top: -200px;
    }

    .img-square {
        top: -150px;
    }

    .img-short {
        top: -50px;
    }

}

.bento {
    display: grid;
    grid-template-columns: repeat(1fr, 2);
    gap: 2rem;

    .container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: space-between;
        background-color: #f1f1f1;

        &.span {
            flex-direction: row;
            grid-column: span 2;
            display: flex;
            & .text {
                grid-column: 1;
            }
        }
        &:not(.span){
            height: 100%;
        }

        .text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 1rem;
        }

    }
}
